server {
    listen       8079;
    server_name  localhost;

    location ~ \.(svg|gif|jpg|png)$ {
        root /Users/username/projects/movedin/build/;
    }

    location / {
        root /Users/jchouse/projects/wsd/build;
        try_files $uri /index.html;
    }
}
